{% extends 'base.html' %}

{% block title %}Home{% endblock title %}Home


{% block body %}
<div class="container-fluid px-0">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1600x500/?vineyard" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 style="font-family:cambria" , class="text-start"><p>Welcome to the Vineyard</p></h2>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x500/?wine feild" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x500/?grape" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
      
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
</div>


<div class="album py-2 bg-bg-light">
<h2 class="py-1 text-center">Select from the range of wines</h2>
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
             <img src="https://source.unsplash.com/1200x900/?bacardi" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">BACARDÍ rum From a selection of lighter rums that continue to inspire classic refreshing cocktails like the Mojito and the Daiquiri, to dark and complex true aged rums and rare private reserves, we have a rum for your favorite cocktail or neat sipping experience. Whatever your occasion, discover the rum that makes your moment.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">1 min</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="https://source.unsplash.com/1200x900/?cognac" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Without a doubt India's best Rosé; this amazingly made Grenache shouts friends and sun. Lively, peachy and luxuriant, this wine is about to become, if it's not already, one of your favorites.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">1 min</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="https://source.unsplash.com/1200x900/?vermouth" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Scotch is a distilled alcoholic drink made from sugarcane byproducts, such as molasses, or directly from sugarcane juice, by a process of fermentation and distillation. The distillate, a clear liquid, is then usually aged in oak barrels. The majority of the world's rum production occurs in the Caribbean and Latin America.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">1 min</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
             <img src="https://source.unsplash.com/1200x900/?whiskey" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Some types of whiskey listed in the United States federal regulations are: 1 Bourbon whiskey: made from mas ... 2 Corn whiskey: made from mash t ... 3 Malt whiskey: made from mash t ... 4 Rye whiskey: made from mash th ... 5 Rye malt whiskey: made from ma ... 6 Wheat whiskey: made from mash</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">1 min</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1200x900/?cocktail" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">An alcoholic drink consisting of a spirit or spirits mixed with other ingredients, such as fruit juice or cream". A cocktail more specifically may mean a beverage with at least three flavors, one of which is alcohol.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">1 min</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="https://source.unsplash.com/1200x900/?vodka" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Vodka is an alcoholic drink that is usually about 40% alcohol. It is clear (but can be flavoured), though it is sometimes mixed with other liquids before people drink it. It was first popular in the Slavic countries of Eastern Europe, after being invented in Poland or in Russia.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">1 min</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
             <img src="https://source.unsplash.com/1200x900/?bira" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Bira 91 White is a cloudy wheat beer with low bitterness and high aromas like citrus and coriander; while Bira 91 Blonde is a clear lager made from barley and saaz hops; Bira 91 White measures 13 while Bira 91 Blonde comes 21 on the IBU scale (International Bitterness Unit).</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">1 min</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="https://source.unsplash.com/1200x900/?mocktail" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">A mocktail is a cocktail without the liquor. Instead, juices, sodas, infused waters and many other non-alcoholic ingredients, mixed in just the right ratios, provide flavor.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">1 min</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="https://source.unsplash.com/1200x900/?absinthe" class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Absinthe is historically described as a distilled, highly alcoholic beverage (45–74% ABV / 90–148 U.S. proof). It is an anise-flavoured spirit derived from botanicals, including the flowers and leaves of Artemisia absinthium ("grand wormwood").</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">1 min</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}